header {
    background-color: $clr2;
    color: $clr0;

    .app-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 1.5rem;
            margin-block: 15px;

            span {
                color: $clr3;
            }
        }

        nav a {
            text-decoration: none;
            color: inherit;
            padding-left: 15px;

            &:hover {
                color: $clr3;
            }
        }
    }
}